
.characters-list {
    display: flex;
    flex-wrap: wrap;

    .character {
        width: 28%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        text-align: center;
        border: 1px solid lightgray;
        padding: 1rem;

        img {
            width: 50px;
        }
    }
}